

html, body {
/*  height:100%;
  width:100%;*/
}

body {
  font-size:16px;
  line-height:1.6em;
  color:#2d3331;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  background:rgb(234,232,235);
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0.0, rgb(245,245,245)), 
    color-stop(1,   rgb(222,220,222)) ) fixed; 
}


h1 {
  padding: 20px 0;
  font-size: 30px;
}
 
*::-moz-selection{
  color:#fff;
  text-shadow: rgba(0,0,0,0.75) 0px 1px 1px;
  background:rgba(180,223,63,1);
}

*::selection {
  color:#fff;
  text-shadow: rgba(0,0,0,0.75) 0px 1px 1px;
  background:rgba(180,223,63,1);
}


#projects {
  height: 50px;
}

#projects a, #actions a {
  background: #ddd;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#projects a:hover, #actions a:hover {
  background: #ccc;
}

#projects a.active {
  background: #444;
  color: white;
}



/**::-moz-selection{
  background:transparent;
}

*::selection {
  background:transparent;
}*/

#container {
  position:relative;
  padding:20px;
  width: 800px;
  margin: auto;
}

#actions {
  position: absolute;
  top: 20px;
  right: 20px;
}

#project {}

#tasks-container {
  position:relative;
}

.dirty {
  background: #ccc;
}

#new_task {
    position:relative;
    background:#fff;
    min-height:20px;
    margin:0 auto 10px auto;
    padding:10px;
    -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.2);   
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.task {
  position:relative;
  background:#fff;
  min-height:20px;
  margin:0 auto 10px auto;
  padding:10px;
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.2);   
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
}

input {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  
}

input[type=submit] {
  background: #555;
  color: #eee;
  border-color: transparent;
}

.task input {
  border: 1px solid transparent;
}

.task input:hover, .task input:focus {
  
  border: 1px solid #ccc;
}

.task .revision {
  position: absolute;
  top: 30px;
  right: 10px;
  font-family: Monaco;
  font-size: 10px;
}

.task .checkbox {
  position:relative;
  float:left;
  width:30px;
  height:28px;
  margin: 6px 4px 0 0;
  cursor:pointer;
  background: transparent url(assets/sprites.png) no-repeat -10px -10px;
}

.task .checkbox:hover {
  background: transparent url(assets/sprites.png) no-repeat -10px -40px;
}

.task .checkbox:active {
  background: transparent url(assets/sprites.png) no-repeat -10px -70px;
}

.task .title {
  font-size:18px;
  line-height:1.2em;
  padding:0 0 0 40px;
  margin:0 0 5px 0;
}

.task .metadata {
  color:#5b6461;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-size:14px;
  line-height:1.4em;
  padding:0 0 0 40px;
}

.task .action,
.task .tag,
.task .project,
.task .user {
  position:relative;
  border: 1px solid rgba(128,128,128,0.08);
  left:-4px;
  padding:0px 4px 1px 4px;
  margin:0 -4px 0 0;
  cursor:pointer;
  background:rgba(128,128,128,0.065);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.task .action:hover,
.task .tag:hover,
.task .project:hover,
.task .user:hover {
  color:#2d3331;
}



.task .action:hover   {  background:#c2ea7b;  }
.task .tag:hover      {  background:#dce3c9;  }
.task .project:hover  {  background:#c7f1ff;  }
.task .user:hover     {  background:#e4d9f7;  }

.task .action:active  {  background:#7dac4c; color:#fff; text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;  }
.task .tag:active     {  background:#9eae6e; color:#fff; text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;  }
.task .project:active {  background:#68abda; color:#fff; text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;  }
.task .user:active    {  background:#a99de6; color:#fff; text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;  }

/*  border: 1px solid #9eae6e;  */
/*  border: 1px solid #7dac4c; */
/*  border: 1px solid #68abda;  */
/*  border: 1px solid #a99de6;  */

.task .remove {
  width: 15px;
  height: 15px;
  background: black;
  position: absolute;
  right: 10px;
  top: 5px;
  display: block;
  background: transparent url(assets/sprites.png) no-repeat -70px -100px;
}

.task.complete .checkbox {
  background: transparent url(assets/sprites.png) no-repeat -10px -100px;
}

.task.complete .checkbox:hover {
  background: transparent url(assets/sprites.png) no-repeat -10px -130px;
}

.task.complete .checkbox:active {
  background: transparent url(assets/sprites.png) no-repeat -10px -160px;
}

.task.group {   min-height:45px;  }

.task.group .checkbox,
.task.group .checkbox:hover,
.task.group .checkbox:active {
  height:50px;
  background: transparent url(assets/sprites.png) no-repeat -70px -10px;
}

.task.group.oneof3 .checkbox,
.task.group.oneof3 .checkbox:hover,
.task.group.oneof3 .checkbox:active {
  height:50px;
  background: transparent url(assets/sprites.png) no-repeat -100px -10px;
}

.task.group.twoof3 .checkbox,
.task.group.twoof3 .checkbox:hover,
.task.group.twoof3 .checkbox:active {
  height:50px;
  background: transparent url(assets/sprites.png) no-repeat -130px -10px;
}

.task.group.threeof3 .checkbox,
.task.group.threeof3 .checkbox:hover,
.task.group.threeof3 .checkbox:active {
  height:50px;
  background: transparent url(assets/sprites.png) no-repeat -160px -10px;
}
