<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
    <title>Tasks — Data.js Demo</title> 
    
    <script>
      var seed = {{{{seed}}}};
      var session = {{{{session}}}};
    </script>
    
    <script type="text/x-ejs-template" name="project">
      <div id="projects">
        
        <% graph.find({type: "/type/project"}).each(function(p) { %>
          <a href="" class="load-project<%= p._id === project._id ? " active" : "" %>" project="<%= p._id %>"><%= p.get('name') %></a>
        <% }); %>
        <a href="#" class="create-project">+</a>
      </div>
      
      <div>
        <h1><%= project.get('name') %></h1>
        
        <div id="new_task">
          <form id="new_task_form">
            <input type="text" name="task_name" id="task_name"/>
            <input type="submit" value="Add Task"/>
          </form>
        </div>
        
        <div id="tasks-container">
          <% project.get('tasks').each(function(task, key) { %>
            <div class="task<%= task.get('complete') ? " complete" : ""%>" task="<%= key %>">
              <div class="checkbox"></div>
              <a href="#" class="remove" title="Remove Task"></a>
              <div class="title"><input type="text" value="<%= task.get('name') %>"/> </div>
              <div class="revision">_rev: <%= task._rev ? task._rev : "" %> <%= task._dirty ? '<span class="tag">pending</span>' : '' %></div>
            </div>
          <% }); %>
        </div>
      </div>
    </script>
    
    <!-- Libs -->
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/backbone.js"></script>
    <script type="text/javascript" src="/nowjs/now.js"></script>
    <script type="text/javascript" src="/datajs/data.js"></script>
    
    <!-- App -->
    <script type="text/javascript" src="/javascripts/views/app.js"></script>
    
    <style type="text/css">
      @import url("/stylesheets/reset.css");
      @import url("/stylesheets/application.css");
    </style>
  </head>
  <body>
    <div id="sync_state" style="position: absolute; top: 20px; left: 600px"></div>
    <div id="container">
      <div id="actions">
        <a href="#" class="start-sync">Sync</a>
        <a href="#" class="reset">Reset</a>
      </div>
      
      <div id="project">
      </div>
    </div>
    
    <!-- fork me -->
    <a href="https://github.com/michael/data/tree/master/examples/tasks"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
  </body> 
</html>